body{
  background: gray;

}

.container{

  background-color: #f2f2f2;
  justify-content: center;
  width: 50%;
  margin-left: 26%;
  margin-top: 5%;
  text-align: center;
}

input[type=text],select{

  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password],select{

  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.header{
  
 background-color: lightblue;
  padding: 1px 20px;
  color: black;
  font-weight: bold;
  
}

.ui-define{
  background-color: rgb(243, 240, 243);
 
  font-weight: bold;

 
  margin-top: 5%;
}
 
 
 